.form-overlay {
 
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-container {
  padding: 20px;
  border-radius: 8px;
  width: 50rem;
  height: 80vh;
}


.form-container h2 {
  margin-bottom: 15px;
  color: #2337ad;
}

.form-container input,
.form-container textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  background: white;
  border: 1px solid #2337ad;
  color: #2337ad;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.cancel-btn:hover {
  background: #2337ad;
  color: white;
}

.submit-btn {
  background: #2337ad;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.submit-btn:hover {
  background: white;
  color: #2337ad;
  border: 1px solid #2337ad;
}