/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}



/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #2337ad, #2337ad);
  color: white;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #ffd700;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: #2337ad;
}

/* Courses Section */
.courses-preview {
  padding: 50px 20px;
  text-align: center;
}

.courses-preview h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.courses-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.course-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  border-radius: 8px;
}

.course-card h3 {
  margin: 15px 0 10px;
}
